doctype html
html
	head

		meta(charset='utf-8')
		meta(
			name='viewport'
			content='width=device-width, initial-scale=1, shrink-to-fit=no'
		)
		meta(
			name='slack-app-id' 
			content='A5BNN269H'
		)
		link(
			href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' 
			rel='stylesheet' 
			integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN' 
			crossorigin='anonymous'
		)
		link(
			rel='stylesheet'
			href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
			integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' 
			crossorigin='anonymous'
		)
		link(
			href='https://fonts.googleapis.com/css?family=Merriweather'
			rel='stylesheet'
		)
		link(
			rel='stylesheet'
			href='/css/custom.css'
			media='screen'
		)
	body
		while message = flash.shift()
			-var alert = 'alert alert-dismissible alert-' + message.type
			div(role='alert' class=alert)
				button(type='button' class='close' data-dismiss='alert')
					span(aria-hidden='true') &times;
				p= message.message
		nav.navbar.navbar-default.navbar-top
			.container
				.row
					.col-md-12.text-center
						h1 Temere
		.container
			.col-lg-8.col-lg-offset-2.text-center
				h3 What is Temere?
				p Temere is a random name generator for you slack team!
				br
				br
				p Add Temere to your slack team.
				a(href='https://slack.com/oauth/authorize?&client_id=169886457350.181770074323&scope=commands')
					img(alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x")
		footer.footer
			.container.text-center
				a(href='https://github.com/sego90/temere/')
					i.fa.fa-github.fa-5(aria-hidden='true')
	script(src='jquery/dist/jquery.min.js' crossorigin='anonymous')
	script(src='js/bootstrap.min.js' crossorigin='anonymous')